
$primary-bg: #09090b;
$secondary-bg: #2d3748;
$accent-color: #48bb78;
$font-color: #edf2f7;
$card-bg: #4a5568;
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #083A3C;
  color: $font-color;
}
.container{
  .content{
    display: flex;
    flex-direction: column;
  }
  .container-fluid{
    background-color: $primary-bg;
    padding: 1rem;
    width: 80%;
    margin:80px 350px auto;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    min-height: 100vh;

  }
}