@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&family=Outfit:wght@300;400;500;700&family=Poppins:wght@300;400;500;700&family=Jost:wght@300;400;500;700&display=swap');
$font-rubik: 'Rubik', sans-serif;
body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #131619;
}
.container{
    display: flex;
    flex-direction: row;
    font-family: $font-rubik;
    .side-pattern{
        background-color: #363A3D;
        border-left: 4px solid #24AE7C;
    }
}
.info-container {
  display: flex;
  flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   text-align: center;
  color: white;
  padding: 2rem;
  animation: fadeIn 1.5s ease-in-out;
  width: 100%;

  h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    animation: slideIn 1s ease-in-out;
  }

  p {
    font-size: 1.25rem;
    max-width: 600px;
    margin-bottom: 2rem;
    animation: slideIn 1.2s ease-in-out;
  }

  .personal-info {
    width: 100%;
    max-width: 600px;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    animation: slideUp 1.2s ease-in-out;

    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
      font-weight: 500;
    }

    p {
      font-size: 1rem;
      margin-bottom: 1.5rem;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
