.health-container{
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    .user{
        display:flex ;
        flex-direction: row;
        .personal-details{
            border-radius: 1rem;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            background-color: #4f4e4e;
            height: 50px;
        }
        .profile-image{
            padding: 0.2rem;
            border-radius: 1rem;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            background-color: #4f4e4e;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    .health-stats{
        background-color: #4f4e4e;
    }
}