@import "./colors";
@import "./fonts";

$primary-bg: #09090b;
$secondary-bg: #2d3748;
$accent-color: #48bb78;
$font-color: #edf2f7;
$card-bg: #4a5568;
@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
  }
  @mixin for-tablet-portrait-up {
    @media (min-width: 600px) and (max-width: 899px) { @content; }
  }
  @mixin for-tablet-landscape-up {
    @media (min-width: 900px) and (max-width: 1199px) { @content; }
  }
  @mixin for-desktop-up {
    @media (min-width: 1200px)and (max-width:1399px) { @content; }
  }
  @mixin for-big-desktop-up {
    @media (min-width: 1400px)and (max-width:1920px) { @content; }
  }
  

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $space-black;
  font-family: $font-rubik !important;
  overflow-x: hidden !important;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  h1{
    
  }
  .items-center{
    img{
        width: 30px;
        height: 30px;
        border-radius: 11px;
    }
    .about-image{
        width: 500px;
        height: 500px;
        border-radius:2rem;
        border-left: 5px solid $vivid-green;
        @include for-phone-only{
            width: 300px;
            height: 300px;
        }
    }
  }
}