@import "./fonts";
@import "./colors";

.schedule-container{
    display: flex;
    flex-direction: column;
    .schedule{
        background-color: #1e1e1e;
        border-radius: 2rem;
        height: 500px;
        .title{
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 1.5rem;
            margin: 2rem;
            background-color: $cosmos;
            padding: .5rem;
            border-radius: 1rem;
            .calendar{
                background-color: #3f3f46;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                margin-right: 10px;
                cursor: pointer;
                transition: all 0.3s ease;
                padding:8px;
                box-shadow: 2px solid $deep-sea;
            }
            .info{
                h1{
                    color:$vivid-green;
                    margin-bottom: 0;
                    font-family: $font-poppins;
                }
            }
            .arrow{
                background-color: #3f3f46;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                margin-right: 10px;
                cursor: pointer;
                transition: all 0.3s ease;
                padding:8px;
            }
        }
        .schedule-data{
            .schedule-info{
                
            }
        }

    }

}