@import "./colors";
@import "./fonts";
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px)and (max-width:1399px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1400px)and (max-width:1920) { @content; }
}

.container-bp {
  border-radius: 2rem;
  color: #fff;
  background-color: #1e293b;
  width: 100%;
  padding: 2rem; 
  margin: 0 auto;
  font-family: $font-outfit;
  @include for-tablet-portrait-up {
    padding: 2.5rem;
  }
  @include for-phone-only{
    padding: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 350px !important;
  }
  @include for-tablet-landscape-up {
    padding: 1.5rem;
  }
  @include for-desktop-up {
    max-width: calc(100% - 10px);
    padding: 1.5rem;
    margin-left: -40px;
    
  }
  @include for-big-desktop-up {
    max-width: 1200px;
    padding: 2.5rem;
  }

}
