.customPhoneInput {
    font-family: 'Jost', sans-serif;
  }
  
  .phoneInputContainer {
    width: 400px;
  }
  
  .phoneInput {
    width: 100% !important;
    height: 40px !important;
    padding: 10px 10px 10px 50px !important;
    border-radius: 0.25rem !important;
    border: 1px solid #444 !important;
    background-color: #333 !important;
    color: white !important;
    font-size: 16px !important;
  }
  
  .phoneInputContainer :global(.react-tel-input .flag-dropdown) {
    background-color: #333;
    border: 1px solid #444;
    border-radius: 0.25rem 0 0 0.25rem;
  }
  
  .phoneInputContainer :global(.react-tel-input .selected-flag) {
    background-color: #333;
    border-radius: 0.25rem 0 0 0.25rem;
  }
  
  .phoneButton {
    background-color: #333 !important;
    border: 1px solid #444 !important;
  }
  
  .phoneDropdown {
    background-color: #4a5568 !important; /* Slate gray background */
    border: 1px solid #444 !important;
    max-height: 300px !important;
    overflow-y: auto !important;
  }
  
  .phoneDropdown :global(.country) {
    display: flex !important;
    align-items: center !important;
    padding: 10px !important;
    color: white !important;
  }
  
  .phoneDropdown :global(.country .flag) {
    width: 30px !important;
    height: 20px !important;
    margin-right: 10px !important;
  }
  
  .phoneDropdown :global(.country-name) {
    margin-right: 5px !important;
  }
  
  .phoneDropdown :global(.dial-code) {
    color: #cbd5e0 !important; /* Lighter color for dial code */
  }
  
  .phoneDropdown :global(.country:hover) {
    background-color: #2d3748 !important; /* Darker slate on hover */
  }
  
  .phoneDropdown :global(.country.highlight) {
    background-color: #2d3748 !important;
  }
  
  .phoneSearch {
    background-color: #4a5568 !important;
    color: white !important;
    border: 1px solid #444 !important;
  }
  
  .phoneSearch::placeholder {
    color: #cbd5e0 !important;
  }
  .phoneDropdown::-webkit-scrollbar {
    width: 8px;
  }
  
  .phoneDropdown::-webkit-scrollbar-track {
    background: #2d3748;
  }
  
  .phoneDropdown::-webkit-scrollbar-thumb {
    background-color: #718096;
    border-radius: 4px;
  }